html{
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: "AnonymicePro Nerd Font Propo";

}

#root{
    position: absolute;
    height: 100.5%;
    width: 100.8%;
    left: -0.6%;
    top: 0.1%;
    overflow: hidden;
    background-color: #080808;
}
main {
    display: grid;
    position: absolute;
    height: 100%;
    width: 98.98%;
    margin: 1%;
    border-radius: 2%;
    left: -0.5%;
    top: -2%;
}
.district-overlay{
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    background-color: #242424;
    font-size:initial;
    color: #2dc316;


}


label{
    color: #00ff15;
}

option{
    color: green;
}
select{
    color:green;
    background-color: #171919;
}
nav{
    gap: 5em;
    color: blue;
    border-width: 2px;
    border-color: #667f61;
    border-style: solid;
    position: absolute;
    left: 15.5%;
    height: auto;
    top: 1%;

    z-index: 1;
    background-color: #242424;
}


.ol-layer {
    /* filter:  sepia(30%) brightness(60%) contrast(200%);*/
    filter: contrast(130%) brightness(100%) saturate(280%) ;
    border-radius: 2%;
}
div.ol-zoom.ol-unselectable.ol-control{
    position: absolute;
    top: 92%;
}

.ol-viewport{
    border-style: solid;
    border-color: saddlebrown;
    border-width: 2px;
    border-radius: 1%;
}
div.ol-attribution{
    visibility: hidden;
    z-index: -3;

}
.ol-rotate-reset{
    visibility: hidden;
    z-index: -3;
}

.searchShelter{
    position: absolute;
    left: 1%;
   width: 14%;
    top: 1%;
    overflow: hidden;
    z-index: 1;
    background-color: #242424;
    border-width: 2px;
    border-color: #242424;
    border-style: solid;
    border-radius: 1%;


}


.search-container {
    flex-direction: column;
    color: #00ff15;
    margin: 1%


}

.ol-scale-line-inner{
    color: green;

}

/*button{
    color: #00ff15;
    background-color: #080808;
    font-family: "AnonymicePro Nerd Font Propo";
}*/
.searchinput{
    background-color: black;
    color: #00ff15;
    width: 96.4%;





}
.dropdown {
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: auto;



}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor:pointer;
    text-align: start;
    margin: 2px 0;
    color: #00ff15;

}

search-inner {
    display: flex;



}

.mapSelector{
    position: absolute;
    left: 75%;
    top: 1.1%;
    z-index: 3;
    background-color: #242424;
    width: auto;
    border-width: 2px;
    border-color: #242424;
    border-style: solid;


}

